<td>
  <%= link_to user.email, user %>
</td>
<td>
  <% if user.labels.empty? %>
    No labels
  <% else %>
    <% user.labels.each do |label| %>
      <%= render partial: "shared/label", object: label %>
    <% end %>
  <% end %>
  <%= form_for(user) do |f| %>
    <%= collection_select :user, :new_label, available_labels(user), :id, :name %>
    <%= f.submit 'Add label', class: 'btn btn-default' %>
  <% end %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    <%= f.submit 'Change Role', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
